.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
README.html
data/~$secondary_paper.xlsx
data/~$S1mapping_Nov2024.xlsx
data/~$primary_paper.xlsx
data/~$primary_authors.xlsx
data/~$paper list.xlsx
data/bibliometric/~$primary_authors.csv
